* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.imgs {
    display: grid;
    grid-template: "img-box img-box img-box img-box" 460px
        "img-mini1 img-mini2 img-mini3 img-mini4" 120px/
        105px 105px 105px 105px;
    grid-area: imgs;
    justify-content: center;
}

.imgs-carrito {
    width: 90px;
    height: 90px;
    border-radius: 8px;
    cursor: pointer;
}

.img-opacity {
    opacity: .4;
}

.img-main {
    border-radius: 8px;
    width: 20px;
}

.img-predeterminada {
    border-radius: 8px;
    width: 400px;
    position: absolute;
}

.img-main-animation1,
.img-main-animation2,
.img-main-animation3,
.img-main-animation4 {
    rotate: -360deg;
    transition: all 1.5s;
    width: 400px;
}

.img-box {
    grid-area: img-box;
    margin: 30px 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-mini1,
.img-mini2,
.img-mini3,
.img-mini4 {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.img-mini1 {
    grid-area: img-mini1;
}

.img-mini2 {
    grid-area: img-mini2;
}

.img-mini3 {
    grid-area: img-mini3;
}

.img-mini4 {
    grid-area: img-mini4;
}

.focus {
    width: 90px;
    height: 90px;
    border: 3px solid rgb(255, 125, 26);
    border-radius: 11px;
    top: -2.5px;
    position: relative;
}

.img-box-invisible {
    visibility: hidden;
}

nav {
    display: flex;
    align-items: center;

}

ul {
    display: flex;
    list-style: none;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

header {
    margin: 0px 30px;
    width: 100%;
    border-bottom: 1px solid rgb(235, 234, 234);
    align-items: center;
    display: grid;
    grid-template-columns: auto auto 1fr auto;

}

.container {
    width: 1210px;
    height: 100%;
}

.contenidoCenter {
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido {
    display: grid;
    grid-template: "imgs  opciones" auto/
        1fr 1fr;
    width: 100%;
}

.titulo-nav {
    font-size: 2.2em;
    margin-right: 50px;
}

.all {
    display: flex;
    justify-content: center;
    height: 100vh;
}

li {
    margin: 0px 15px;
    height: 72.8px;
}

a {
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(119, 119, 119);
    display: block;
    text-decoration: none;
    padding-top: 25.3px;

}

a:hover {
    border-bottom: 4px solid rgb(255, 125, 26);
    color: black;
    padding-bottom: 20.3px;
    transition: padding 0.2s;
}

.svg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fill-current {
    margin-right: 30px;
    cursor: pointer;
}

.avatar {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.avatar:hover {
    border-radius: 100%;
    border: 2px solid red;
    position: relative;
    left: -2px;
}

.div-avatar {
    width: 32px;
}

.containAddProduct {
    position: absolute;
    display: grid;
    grid-template: "informacion informacion" auto
        "precios   precios  " auto "cantidad  addProducts  " 60px/
        150px 370px;
}

.informacion {
    grid-area: informacion;
    margin-bottom: 30px;
}

.precios {
    grid-area: precios;
    display: grid;
    grid-template: "precioTotal porcentajeDescuento" auto
        "precioInicial  empty" auto/
        170px 50px;
}

.precioTotal {
    grid-area: precioTotal;
    font-size: 2em;
    font-weight: bolder;
}

.porcentajeDescuento {
    grid-area: porcentajeDescuento;
    background-color: rgb(255, 237, 224);
    display: flex;
    justify-content: center;
    margin: 6px 3px;
    padding: 0px 9px;
    display: flex;
    align-items: center;
    color: rgb(255, 125, 26);
    border-radius: 8px;
    font-weight: bolder;
    font-size: 0.9em;
}

.precioInicial {
    grid-area: precioInicial;
    margin: 10px 0px 15px 0px;
    text-decoration: line-through;
    color: rgb(182, 188, 200);
    font-weight: bolder;
}

.cantidad {
    grid-area: cantidad;
    background-color: rgb(247, 248, 253);
    border-radius: 8px;
}

.addProducts {
    grid-area: addProducts;
    background-color: rgb(255, 125, 26);
    margin: 0px 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    box-shadow: 1px 10px 15px rgb(245, 193, 153);
    margin: 3px 20px;
    cursor: pointer;
}



.opciones {
    display: flex;
    grid-area: opciones;
    align-items: center;
}

.cantidad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
}

.plus,
.minus {
    font-weight: 900;
    font-size: 20px;
    color: rgb(255, 125, 26);
}

.divMinus,
.divPlus,
.cantidadNumero {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cantidadNumero {
    cursor: unset;
}

h1 {
    font-size: 3em;
    line-height: 50px;
}

p {
    margin-top: 30px;
    font-size: 1.1em;
    color: rgb(128, 112, 125);
}

h5 {
    color: rgb(255, 125, 26);
    margin-bottom: 10px;
}

.contenidoFocus {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.contenidoFocusCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}



.imgsFocus {
    position: relative;
    display: grid;
    grid-template: "img-box img-box img-box img-box" 560px
        "img-mini1 img-mini2 img-mini3 img-mini4" 120px/
        125px 125px 125px 125px;
}

.invisible {
    display: none;
}

.transitionSlider {
    position: absolute;
    width: 500px;
    height: 540px;
    display: flex;
    align-items: center;
}

.divLeft,
.divRight {
    border-radius: 100%;
    background-color: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.divLeft {
    left: -10px;
}

.divRight {
    right: -10px;
}

.iconSlider {
    font-size: 0.5em;
    font-weight: bolder;
    position: absolute;
}

.equis {
    color: rgb(255, 125, 26);
    right: 10px;
    z-index: 2;
    top: 0;
    position: absolute;
    cursor: pointer;
    font-size: 2em;
}

.imgs-carrito-focus {
    width: 90px;
    height: 90px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.img-main-focus {
    width: 480px;
    position: relative;
}

/* .img-predeterminada-focus{
    width: 480px;
    position: relative;
} */

.productos-add {
    width: 340px;
    height: 215px;
    background-color: aqua;
    position: absolute;
    right: -70px;
    top: 100%;
    border: 0px solid black;
    border-radius: 8px;
    margin-top: 10px;
    display: none;
}
.fondoOscuro {
    background-color: rgba(0, 0, 0, 0.76);
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
}

.equis-productos-add {
    right: 0;
    position: absolute;
    margin: 20px;
    font-weight: bolder;
    font-size: 1.2em;
}

.header-productos-add {
    padding: 0px 20px;
    background-color: aquamarine;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(219, 219, 219);
    border-radius: 8px 8px 0px 0px;
}

@media screen and (max-width: 735px) {
    .container {
        overflow-x: scroll;
    }

    .img-predeterminada {
        position: relative;
        left: 10px;
    }

    #idImgMain1 {
        position: relative;
        left: -200px;
    }
}