*{
    padding: 0%;
    margin: 0%;
}

h1,h2{
    padding: 30px;
    text-align: center;
    padding: 30px;
    color: white;
}


label{
    display: block;
    padding: 30px 0px 5px 0px;
}

.registro{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0em;
}

option, select{
    color: aliceblue;
}
fieldset{
   
    color: aliceblue;
}
.otra{
    padding: 0%;
}
.formulario{
    width: 60%;
   
}
.formulario, input[type="text"], select, textarea, button, input[type="submit"], .registro, input[type="number"]{
    
    background-color: rgb(50, 88, 110);
}

input[type="text"],input[type="number"]{ 
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.278);
    font-size: 1em;
    padding: 4px;
    width: 240px;
    color: white;
}
textarea{
    font-size: 1.2em;
    padding: 4px;
}
input[type="text"]:focus,input[type="number"]:focus{
    outline: none;
}
fieldset{
    border-radius: 12px ;
    padding: 70px;
}


::placeholder{
    color: rgba(255, 255, 255, 0.4);
}

button{
    background-color: rgb(28,181,224);
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin: 20px 20px 20px 0px;
}
