* {
    padding: 0%;
    margin: 0%;
    border: transparent;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 10vh;
    color: red;
    letter-spacing: 0.5vw;
}

.div-netflix {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.Netflix {
    display: flex;
    justify-content: center;
    z-index: 1;
}


.nav {
    position: absolute;
    padding: 30px;
    z-index: 2;
}

span {
    display: flex;
}

.nav nav ul li a {
    color: red;
    font-size: 2.5em;
    text-decoration: none;
    padding: 9px;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    letter-spacing: 3px;

}

.nav nav ul li {
    list-style: none;

}

.nav nav ul li a:hover {
    background-color: rgba(240, 255, 255, 0.300);
    padding: 9px;
    border-radius: 4px;

}

.div-curva {
    display: flex;
    justify-content: center;
}

.curva {
    position: absolute;
    overflow: hidden;
    top: 51.9%;
    width: 100%;
    height: 220vh;
    border-radius: 100%;
    background-size: cover;
    position: fixed;
    z-index: 2;
}

.fondo {
    width: 200vh;
    height: 100vh;
    position: fixed;
    z-index: 1;
}

.complemento {
    position: absolute;
    width: 200vh;
    height: 100vh;
    top: -23.6%;
}

.fondo-transparente {
    background-color: rgba(0, 0, 0, 0.563);
    width: 200vh;
    height: 100vh;
    position: fixed;
    z-index: 1;
}

.fondo-transparente2 {
    background-color: rgba(0, 0, 0, 0.563);
    width: 200vh;
    height: 100vh;
    position: absolute;
    z-index: 2;
}

.n {
    font-size: 11vh;
}

.e {
    font-size: 10vh;

}

.t {
    font-size: 10.17vh;
}

.f {
    font-size: 9.3vh;
}

.l {
    font-size: 9.52vh;
}

.i {
    font-size: 10.17vh;
}

.x {
    font-size: 11vh;
}



@media screen and (max-width:1650px) {
    h1 {
        margin-top: 5px;
    }

    .n {
        font-size: 12vh;
        margin-top: unset;
    }

    .e {
        font-size: 10.723vh;
    }

    .t {
        font-size: 11.17vh;
    }

    .f {
        font-size: 11.17vh;
    }

    .l {
        font-size: 10.3vh;
    }

    .i {
        font-size: 11.17vh;
    }

    .x {
        font-size: 12vh;
    }

    .curva {
        top: 51.9%;
        width: 100%;
        height: 100vh;
    }

    .complemento {
        position: absolute;
        width: 200vh;
        height: 100vh;
        top: -52%;
    }

}

@media screen and (max-width:1000px) {
    h1 {
        margin-top: 5px;
    }

    .n {
        font-size: 13.3vh;
    }

    .e {
        font-size: 11.6vh;
    }

    .t {
        font-size: 11.2vh;
    }

    .f {
        font-size: 11.2vh;
    }

    .l {
        font-size: 11.6vh;
    }

    .i {
        font-size: 11.6vh;
    }

    .x {
        font-size: 13.3vh;
    }

    .curva {
        top: 51.9%;
        width: 100%;
        height: 50vh;
    }

    .complemento {
        position: absolute;
        width: 200vh;
        height: 100vh;
        top: -103.9%;
    }

}

@media screen and (max-width:700px) {
    h1 {
        margin-top: 5px;
    }

    .n {
        font-size: 12vh;
        margin-top: unset;
    }

    .e {
        font-size: 10.723vh;
    }

    .t {
        font-size: 11.17vh;
    }

    .f {
        font-size: 11.17vh;
    }

    .l {
        font-size: 10.3vh;
    }

    .i {
        font-size: 11.17vh;
    }

    .x {
        font-size: 12vh;
    }

    .curva {
        top: 51.9%;
        width: 100%;
        height: 25vh;
    }

    .complemento {
        position: absolute;
        width: 200vh;
        height: 100vh;
        top: -207.8%;
    }

}

@media screen and (max-width:500px) {
    h1 {
        margin-top: 5px;
    }

    .n {
        font-size: 12vh;
        margin-top: unset;
    }

    .e {
        font-size: 10.723vh;
    }

    .t {
        font-size: 11.17vh;
    }

    .f {
        font-size: 11.17vh;
    }

    .l {
        font-size: 10.3vh;
    }

    .i {
        font-size: 11.17vh;
    }

    .x {
        font-size: 12vh;
    }

    .curva {
        top: 51.9%;
        width: 100%;
        height: 12vh;
    }

    .complemento {
        position: absolute;
        width: 200vh;
        height: 100vh;
        top: -433%;
    }
}

@media screen and (max-width:350px) {
    h1 {
        margin-top: 5px;
    }

    .n {
        font-size: 12vh;
        margin-top: unset;
    }

    .e {
        font-size: 10.723vh;
    }

    .t {
        font-size: 11.17vh;
    }

    .f {
        font-size: 11.17vh;
    }

    .l {
        font-size: 10.3vh;
    }

    .i {
        font-size: 11.17vh;
    }

    .x {
        font-size: 12vh;
    }

    .curva {
        top: 51.9%;
        width: 100%;
        height: 5vh;
    }

    .complemento {
        position: absolute;
        width: 200vh;
        height: 100vh;
        top: -1038%;
    }
}