* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: white;
}

body {
    background-color: rgb(14, 14, 112);
}

h1 {
    font-family: 'waltograph42';
    font-size: 8em;
    color: rgba(255, 255, 255, 0.89);
}

@font-face {
    font-family: 'waltograph42';
    src: url(../fonts/waltograph42.otf);
}

.nav {
    position: absolute;
    padding: 30px;
}

.nav nav ul li a {
    color: white;
    font-size: 3em;
    text-decoration: none;
    padding: 7px;
    font-family: 'waltograph42';
}

.nav nav ul li {
    list-style: none;

}

.nav nav ul li a:hover {
    background-color: rgba(240, 255, 255, 0.300);
    padding: 7px;
    border-radius: 4px;

}

img {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.div-letra {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.letra {
    position: absolute;
    top: 80%;
    z-index: -1;
}