* {
    padding: 0%;
    margin: 0%;
    border: transparent;
}

body {
    background-color: white;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 10vh;
    color: red;
    letter-spacing: 0.5vw;
}

.div-netflix {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.Netflix {
    display: flex;
    justify-content: center;
    z-index: 1;
    position: fixed;
}


.nav {
    position: absolute;
    padding: 30px;
    z-index: 2;
}

span {
    display: flex;
}

.nav nav ul li a {
    color: red;
    font-size: 2.5em;
    text-decoration: none;
    padding: 9px;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    letter-spacing: 3px;

}

.nav nav ul li {
    list-style: none;

}

.nav nav ul li a:hover {
    background-color: rgba(240, 255, 255, 0.300);
    padding: 9px;
    border-radius: 4px;

}

.div-curva {
    display: flex;
    justify-content: center;
}

.curva {
    position: absolute;
    top: 51.9%;
    width: 100%;
    height: 200%;
    border-radius: 100%;
    background-size: cover;
    position: fixed;
    z-index: 2;
    overflow: hidden;
}

.fondo {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

.complemento {
    position: absolute;
    width: 100%;
    height: 50%;
    top: -26%;
}



.n {
    font-size: 11vh;
}

.e {
    font-size: 10vh;

}

.t {
    font-size: 10vh;
}

.f {
    font-size: 10vh;
}

.l {
    font-size: 10vh;
}

.i {
    font-size: 10vh;
}

.x {
    font-size: 11vh;
}

@media screen and (max-width:1570px) {
    .n {
        font-size: 13.2vh;
    }

    .e {
        font-size: 12vh;

    }

    .t {
        font-size: 12vh;
    }

    .f {
        font-size: 12vh;
    }

    .l {
        font-size: 11.35vh;
    }

    .i {
        font-size: 12vh;
    }

    .x {
        font-size: 13.2vh;
    }

    .curva {
        top: 51.9%;
        height: 120%;
    }

    .complemento {
        height: 83.3%;
        top: -43.2%;
    }

}

@media screen and (max-width:1185px) {
    .n {
        font-size: 13.2vh;
    }

    .e {
        font-size: 12vh;

    }

    .t {
        font-size: 12vh;
    }

    .f {
        font-size: 12vh;
    }

    .l {
        font-size: 11.35vh;
    }

    .i {
        font-size: 12vh;
    }

    .x {
        font-size: 13.2vh;
    }

    .curva {
        top: 51.9%;
        height: 100%;
    }

    .complemento {
        width: 140%;
        height: 100%;
        top: -51.9%;
    }

    .fondo {
        width: 140%;
    }
}

@media screen and (max-width:1065px) {
    .n {
        font-size: 13.2vh;
    }

    .e {
        font-size: 12vh;

    }

    .t {
        font-size: 12vh;
    }

    .f {
        font-size: 12vh;
    }

    .l {
        font-size: 11.35vh;
    }

    .i {
        font-size: 12vh;
    }

    .x {
        font-size: 13.2vh;
    }

    .curva {
        top: 51.9%;
        height: 70%;
    }

    .complemento {
        width: 140%;
        height: 142.9%;
        top: -74.1%;
    }

    .fondo {
        width: 140%;
    }
}

@media screen and (max-width:892px) {
    .n {
        font-size: 13.2vh;
    }

    .e {
        font-size: 12vh;

    }

    .t {
        font-size: 12vh;
    }

    .f {
        font-size: 12vh;
    }

    .l {
        font-size: 11.35vh;
    }

    .i {
        font-size: 12vh;
    }

    .x {
        font-size: 13.2vh;
    }

    .curva {
        top: 51.9%;
        height: 40%;
    }

    .complemento {
        width: 140%;
        height: 249.6%;
        top: -129.4%;
    }

    .fondo {
        width: 140%;
    }
}

@media screen and (max-width:660px) {
    .n {
        font-size: 13.2vh;
    }

    .e {
        font-size: 12vh;

    }

    .t {
        font-size: 12vh;
    }

    .f {
        font-size: 12vh;
    }

    .l {
        font-size: 11.35vh;
    }

    .i {
        font-size: 12vh;
    }

    .x {
        font-size: 13.2vh;
    }

    .curva {
        top: 51.9%;
        height: 25%;
    }

    .complemento {
        width: 260%;
        height: 399.2%;
        top: -207%;
    }

    .fondo {
        width: 260%;
    }
}

@media screen and (max-width:527px) {
    .n {
        font-size: 13.2vh;
    }

    .e {
        font-size: 12vh;

    }

    .t {
        font-size: 12vh;
    }

    .f {
        font-size: 12vh;
    }

    .l {
        font-size: 11.35vh;
    }

    .i {
        font-size: 12vh;
    }

    .x {
        font-size: 13.2vh;
    }

    .curva {
        top: 51.9%;
        height: 15%;
    }

    .complemento {
        width: 320%;
        height: 665.4%;
        top: -345%;
    }

    .fondo {
        width: 320%;
    }
}

@media screen and (max-width:420px) {
    .n {
        font-size: 13.2vh;
    }

    .e {
        font-size: 12vh;

    }

    .t {
        font-size: 12vh;
    }

    .f {
        font-size: 12vh;
    }

    .l {
        font-size: 11.35vh;
    }

    .i {
        font-size: 12vh;
    }

    .x {
        font-size: 13.2vh;
    }

    .curva {
        top: 51.9%;
        height: 12%;
    }

    .complemento {
        width: 480%;
        height: 833%;
        top: -432.2%;
    }

    .fondo {
        width: 480%;
    }
}


@media screen and (max-width:385px) {
    .n {
        font-size: 13.2vh;
    }

    .e {
        font-size: 12vh;

    }

    .t {
        font-size: 12vh;
    }

    .f {
        font-size: 12vh;
    }

    .l {
        font-size: 11.35vh;
    }

    .i {
        font-size: 12vh;
    }

    .x {
        font-size: 13.2vh;
    }

    .curva {
        top: 51.9%;
        height: 10%;
    }

    .complemento {
        width: 580%;
        height: 999.2%;
        top: -518.6%;
    }

    .fondo {
        width: 580%;
    }
}

@media screen and (max-width:360px) {
    .n {
        font-size: 13.2vh;
    }

    .e {
        font-size: 12vh;

    }

    .t {
        font-size: 12vh;
    }

    .f {
        font-size: 12vh;
    }

    .l {
        font-size: 11.35vh;
    }

    .i {
        font-size: 12vh;
    }

    .x {
        font-size: 13.2vh;
    }

    .curva {
        top: 51.9%;
        height: 6.6%;
    }

    .complemento {
        width: 580%;
        height: 1513.8%;
        top: -785.7%;
    }

    .fondo {
        width: 580%;
    }
}