*{
    padding: 0%;
    margin: 0%;
}

.img-jhin, .img-bob, .img-pika{
    width: 90%;
    height: 90%; 
}        
.nav {
    position: absolute;
    padding: 30px;
    margin-left: 15px;
    display: block;
}

.box{
    height: 100%;
    width: 100%;
    display: inline;
    text-align: center;
}


.imagenes{
    padding-bottom: 70px;
    display: flex;
    position: relative;
}
h2{
    text-align: right;
    padding-right: 20px;
    font-size: 2em;
}
p{
    text-align: right;
    padding-right: 27px;
    font-size: 1.2em;
}
h1{
    padding: 2em 0px 100px 0px;
    text-align: center;
    font-size: 4em;
    display: block;
}
.nav nav ul li a{
    color: #A449A9;
    font-size: 2.2em;
    text-decoration: none;
    padding: 9px ;
    font-weight: 600;
}
.nav nav ul li{
    list-style: none;
    
    
}
.nav nav ul li a:hover{
    background-color:rgba(179, 184, 184, 0.432);
    padding: 9px;
    border-radius: 4px;
   
}   

.imagenes2{
    display: inline-flex;
}