* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    justify-content: right;
    list-style: none;
}

li {
    padding: 30px;
    display: inline-block;
    width: 140px;
    text-align: center;
    position: relative;
}

a {
    text-decoration: none;
    font-size: 1.5em;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.199);
}

nav {
    display: flex;
    justify-content: right;
    background-color: rgb(199, 225, 247);
}



nav >ul >Li .submenu2{
    display: none;
}
nav >ul >li >ul {
    position: absolute;
}
.parrafo {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul Li:hover  .submenu2 {
    display: block;
    background-color: rgb(199, 225, 247);
    top: 100%;
    left: 0%;
}
p {
    width: 800px;
    margin-top: 90px;
    text-align: justify;
}

body {
    background-color: aliceblue;
}

.hamburguer {
    display: none;
    background-color: rgb(199, 225, 247);
}

@media screen and (max-width:1040px) {
 /*    nav>ul>Li:hover>ul {
        display: none;

    } */
    .hamburguer {
        display: block;
        width: 100%;
    }
    .fa-bars{
        padding: 30px;
    }
    p{
        width: 80%;
    }
    .menu_invisible {
        display: none
    }
    li{
        display: block;
        width: 260px;
    }
   
    nav {
        justify-content: left;
        width: 320px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .submenu{
        display:block;
    }
    nav>ul>li>ul {
        display: none;
        top: 100%;
        left: 0%;
    }

}