* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    background-color: rgb(39, 49, 111);
    }
li{
    cursor: pointer;
}
@media screen  and (min-width:1040px){
    nav{
        width: 100%;
        position: fixed;
    }
    a{
        padding: 30px;
        display: block;
        width: 120px;
        font-size: 1.2em;
        text-align: center;
        text-decoration: none;
        color: white;
    }
    li{
        display: inline-block;
    }
 
    nav >ul >li ul >li{
        display: none;
    }
    nav >ul >li:hover >ul >li{
        display: block;
    }
    a:hover{
        background-color: rgba(0, 0, 0, 0.225);
    }
    .hamburguer{
        display: none;
    }
    nav >ul >li >ul{
        position: absolute ;
        background-color: rgb(39, 49, 111);
    }
    .parrafo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    p {
        width: 800px;
        margin-top: 90px;
        text-align: justify;
    }
}

@media screen and (max-width:1040px) {
 /*    nav>ul>Li:hover>ul {
        display: none;

    } */
    i{
        cursor: pointer;
    }
    li{
        background-color: rgb(39, 49, 111);
    }
    .hamburguer {
        display: block;
        width: 100%;
        background-color: rgb(39, 49, 111);
    }
    .fa-bars{
        padding: 30px;
        color: white;
    }
    .parrafo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    p {
        width: 80%;
        margin-top: 90px;
        text-align: justify;
    }
    .menu_invisible, .submenu_invisible {
        display: none;

    }

    nav {
        position: absolute;
        justify-content: left;
        width: 260px;
        overflow-y: auto;
        overflow-x: auto;
        
    }
    a{
        border-bottom: 1px solid white;
        color: white;
        padding: 30px;
        display: block;
        width: 200px;
        font-size: 1.2em;
        text-align: center;
        text-decoration: none;
    }

    a:hover{
        background-color: rgba(0, 0, 0, 0.321);
    }

}