*{
    padding: 0%;
    margin: 0%;
}

.main-box{
    display: flex;
    flex-direction: row;
}

.div-box-static{

    margin: 30px;
    width: 250px;
    height: 250px;
}
.div-box-fixed{
    width: 250px;
    height: 250px;
}
.div-box-fixed-sofia{
    width: 50px;
    height: 250px;
}
.div-box-absolute{
    width: 250px;
    width: 250px;
}
h1{
    text-align: center;
}
p{
    margin: 0em 20em;
    line-height: 20px;
    font-size: 1.2em;

}

div{
    display: flex;
    justify-content: center;
    align-items: center;

}

.box-1-static{
    background-color: antiquewhite;
    position: static;

}
.box-2-static{
    background-color: darkcyan;
    position: static;
    
}
.box-3-static{
    background-color: violet;
    
}
.box-4-static{
    background-color: aquamarine;
    
}


.box-2-fixed{
    background-color: aqua;
    position: fixed;
    bottom: 0  ;
    right: 0;

}

.box-3-fixed{
    background-color: rgb(0, 255, 34);
    position: fixed;
    top: 15em;
    right: 0;

}

.box-1-absolute{
    bottom:  0;
    left: 0;
    background-color: aqua;
    width: 250px;
    height: 250px;
    position: absolute;
}

.box-2-absolute{
    position: absolute;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.781);
    height: 100px;
    display: flex;
    align-items: center;
    text-align: right;
    
}
li{
    display: inline-block;
    color: aliceblue;
    text-align: right;
}
ul{
    width: 100%;
}
ul li a{
    padding: 20px;
    font-size: 1.2em;
}
.box-1-fixed{
    background-color: burlywood;
    position: fixed;
    top: 0;
    left: 0;

}