* {
    margin: 0;
    padding: 0;
}


.contenido {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imgs {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

img {
    width: 100vw;
    height: 100vh;

    position: absolute;
}

.transition-slider {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.div-left,
.div-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 3vw;
    color: white;
    cursor: pointer;
    width: 4vw;
    height: 4vw;
    border-radius: 100vw;
    background-color: rgb(80, 80, 80);
}

.div-left {
    left: 0;

}

.div-right {
    right: 0;
}

.transition-2 {
    margin-left: -200vw;
    transition: margin 2s;
}

.transition-1 {
    margin-left: -100vw;
    transition: margin 2s;
}

.transition0 {
    margin-left: 0vw;
    transition: margin 2s;
}

.transition1 {
    margin-left: 100vw;
    transition: margin 2s;
}

.transition2 {
    margin-left: 200vw;
    transition: margin 2s;
}

.invisible {
    display: none;
}