* {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
}

a {
  cursor: pointer;
}

@media screen and (min-width:701px) {
  .hamburguer {
    display: none;
  }

  .iconWolfMenuNormal {
    float: left;
    width: 50px;
    padding: 10px;
    margin: 0px 20px;
  }

  body {
    background-color: aliceblue;
  }

  nav {
    background-color: rgba(4, 4, 4, 0.747);

  }

  .rgb::before,
  .rgb::after,
  .rgb2::before,
  .rgb2::after,
  .rgb3::before,
  .rgb3::after {
    content: '';
    position: absolute;
    background: linear-gradient(45deg, rgb(128, 62, 121), rgb(38, 56, 180), rgb(153, 102, 254), rgb(67, 62, 128), rgb(255, 54, 228), rgb(22, 37, 94), rgb(245, 249, 203), rgb(141, 21, 83), rgb(31, 1, 87), rgb(46, 255, 255), rgb(128, 62, 121));
    animation: animate 80s linear infinite;
    background-size: 220%;
  }

  .rgb4::before,
  .rgb4::after,
  .rgb5::before,
  .rgb5::after {
    content: '';
    position: absolute;
    background: linear-gradient(100deg, rgb(128, 62, 121), rgb(38, 56, 180), rgb(153, 102, 254), rgb(67, 62, 128), rgb(255, 54, 228), rgb(22, 37, 94), rgb(245, 249, 203), rgb(141, 21, 83), rgb(31, 1, 87), rgb(46, 255, 255), rgb(128, 62, 121));
    animation: animate 80s linear infinite;
    background-size: 1000%;
  }

  .rgb::after,
  .rgb::before {
    width: 100%;
    height: 6px;
  }

  .rgb2::after,
  .rgb2::before {
    width: 100%;
    height: 6px;
    bottom: 100%;
  }

  .rgb3::after,
  .rgb3::before {
    width: 100%;
    height: 6px;
    top: 100%;
    rotate: 180deg;
  }

  .rgb5::after,
  .rgb5::before {
    height: calc(100% + 12px);
    width: 6px;
    left: 100%;
    top: -6px;
  }

  .rgb4::after,
  .rgb4::before {
    height: calc(100% + 12px);
    width: 6px;
    right: 100%;
    top: -6px;
    rotate: 180deg;
  }

  @keyframes animate {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 2600%;
    }
  }

  nav>ul>li {
    position: relative;
  }

  nav>ul>Li>a {
    padding: 30px 30px;
    font-size: 1.2em;
    display: block;
  }

  nav>ul>Li>ul li {
    position: relative;
  }

  nav>ul>Li>ul>li a {
    width: 225px;
    padding: 20px 20px;
    font-size: 1.2em;
    display: block;
    color: white;
  }

  nav ul {
    display: table;
    color: white;
  }

  nav>ul>li {
    float: left;
  }

  nav>ul>li>ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
  }

  nav>ul>li>ul>li>ul {
    display: none;
    position: absolute;
    top: -10%;
    left: 100.4%;
  }

  nav>ul>li:hover>ul,
  nav>ul>li>ul li:hover>ul {
    display: block;
    background-color: rgba(4, 4, 4, 0.747);
    border: 6px solid black;
    z-index: 2;
  }

  li:hover {
    background-color: rgba(255, 255, 255, 0.204);

  }

  .fondo {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-fondo-pc {
    position: fixed;
    width: 100%;
    height: 110%;
    margin: unset;
    padding: unset;
    transition: all 1s;
    z-index: 1;
  }

  .img-fondo-smarphone {
    display: none;
  }

  .iconWolfMenuNormal {
    width: 50px;
    transform: scaleX(-1);
    transition: width 2s;
  }

  .toogle {
    width: 40px;
    height: 20px;
    background-color: rgb(233, 233, 233);
    border-radius: 12px;
    border: 2px solid rgb(233, 233, 233);
    cursor: pointer;
    position: relative;
  }

  .toogleTransition {
    background-color: rgb(79, 67, 104);
    border: 2px solid rgba(0, 0, 0, 0);
  }

  .aToogle {
    cursor: unset;
  }

  .liToogle:hover {
    background-color: unset;
  }

  .liToogle {
    right: 0;
    position: absolute;
  }

  .circuloToogle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 12px;
    margin-right: 20px;
    transition: all 1s;
    rotate: 0deg;
    background-color: white;
  }

  .circuloToogleTransition {
    position: absolute;
    margin-left: 20px;
    background-color: white;
    transition: all 1s;
    rotate: 180deg;
    background-color: white;
  }

  .navWhite {
    background-color: rgba(123, 123, 122, 0.534);
  }

  .ulWhite {
    color: white;
  }

  .img-fondo-pc-white {
    position: fixed;
    width: 10%;
    height: 10%;
    margin: unset;
    padding: unset;
    transition: all 1s;
  }

  .invisible {
    visibility: hidden;
  }

  .transitionWhite {
    width: 100%;
    height: 100%;
    transition: all 1s;
    z-index: 1;
  }

  .transitionBlack {
    width: 10%;
    height: 10%;
    transition: all 1s;
  }

  .GinYang {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}



@media screen and (max-width:700px) {

  .invisible-mobile {
    display: none;
  }

  .iconWolfMenuHamburguer {
    width: 40px;
    transform: scaleX(-1);
    transition: width 2s;
  }

  .iconWolfMenuNormal {
    display: none;
  }

  .fa-solid {
    cursor: pointer;
  }


  body {
    background-color: aliceblue;
  }

  img {
    width: 50px;
    padding: 10px;
    margin: 0px 20px;
    float: right;
  }

  #icon_hamburguer {
    padding: 14px 0px;
    margin: 0px 20px;
  }

  nav {
    width: 205px;
  }

  .hamburguer {
    background-color: rgba(4, 4, 4, 0.747);
    width: 100%;
  }

  a {
    width: 165px;
    padding: 20px 20px;
    display: block;
    font-size: 10px;
    color: white;
  }

  a:hover {
    background-color: rgb(83, 81, 81);
  }



  nav>ul>li>a {
    background-color: rgb(0, 0, 0);
    position: relative;
    z-index: 7;
  }

  nav>ul>li>ul>li>a {
    background-color: rgb(45, 45, 45);
    position: relative;
    z-index: 8;
  }

  nav>ul>li>ul>li>ul>li>a {
    background-color: rgb(72, 72, 72);
  }

  nav>ul>li>a {
    border-bottom: 2px solid rgb(255, 255, 255);
  }

  nav>ul>li>ul>Li>a {
    border-bottom: 2px solid rgb(123, 123, 123);
  }

  nav>ul>li>ul>li>ul>Li>a {
    border-bottom: 2px solid rgb(0, 0, 0);
  }

  .fondo {
    position: absolute;
    z-index: -1;
  }

  .img-fondo-smarphone {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: unset;
    padding: unset;
  }

  .img-fondo-pc {
    display: none;
  }

  .invisible {
    display: none;
    color: white;
  }

  .liToogle {
    display: none;
  }


  .transition-elements1 {
    margin-top: -25.8%;
    transition: margin 0.5s;
  }

  .transition-elements4 {
    margin-top: -103.5%;
    transition: margin 0.5s;
  }

  .transition-elements3 {
    margin-top: -78%;
    transition: margin 0.5s;
  }

  .transition-elements2 {
    margin-top: -51.8%;
    transition: margin 0.5s;
  }

  .transition-elements6 {
    margin-top: -155%;
    transition: margin 0.5s;
  }

  .transition-submenu {
    margin-top: 0;
    transition: margin 0.5s;
  }

  .subMenuInvisible>li>a {
    position: relative;
    z-index: -1;
  }

  .transition-submenu>li>a {
    position: relative;
    z-index: 1;
  }
  .primary-focus1 >li >a{
    z-index: 2;
  }
  .primary-focus2 >li >a{
    z-index: 4;
  }
}