* {
    padding: 0;
    margin: 0;
}

.box{
    width: 300px;
    height: 300px;
    margin: 5px 0px 0px 5px;
    display: inline-block;
}
.box-1 {
    background-color: darkcyan;
}

.box-2 {
    background-color: rgb(0, 139, 81);
}

.box-3{
    background-color: aliceblue;
    transition: margin-left 1s;
}
.box-1:hover {
    background-color: rgba(0, 0, 0, 0.438);
    transition: background-color 00.5s;
}

.box-31{
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.321);
    display: none;
}

.box-3{ 
    background-color: aquamarine;
}

.divRedondo{
    margin: 200px 0px 0px 60px;
    background-color: rgb(233, 233, 233);
    width: 400px;
    height: 200px;
    border-radius: 100px ;
    display: block;
    border: 1px solid aliceblue;
}
.divRedondoOn{
    margin: 200px 0px 0px 60px;
    background-color:aliceblue;
    width: 400px;
    height: 200px;
    border-radius: 100px ;
    display: block;
    border: 1px solid rgb(39, 197, 197);
}

.toogle{
    background-color: rgb(192, 192, 192);
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 200px;
    transition: margin-left 1s;
}

.positionToogle{
    background-color: rgb(39, 197, 197);
    margin-left: 200px;
    right:  -100%;

}

.divRedondo2{
    margin: 200px 0px 0px 60px;
    background-color: aliceblue;
    width: 400px;
    height: 200px;
    border-radius: 100px ;
    display: block;
}

.toogle2{
    background-color: rgb(39, 197, 60);
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 200px;
    transition: margin-left 1s;
}

.positionToogleOn{
    margin-left: 200px;
    right:  -100%;
}

.box-5{
    background-color: blueviolet;
    width: 400px;
    height: 400px;
    position: fixed;
    bottom: -120px;
    right: -120px;
    border-radius: 100%;
    transition: padding 2s;
}

.box-5:hover{
    padding: 100px;
}